*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
}
.container{
    width: 300px;
    height: 400px;
    background: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.container img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}
.container h1{
    font-size: 35px;
    margin-bottom: 5px;
}
.container h4{
    font-size: 20px;
    margin-bottom: 10px;
    color: #777;
}
.container p{
    font-size: 16px;
    margin-top: 10px;
    color: #555;
}
.container button{
    padding: 10px 20px;
    border: none;
    color: white;
    background: #007bff;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
}